.bsp
*.class
.idea
*.iml
dependency-reduced-pom.xml
# Package Files #
*.releaseBackup
release.properties
*.jar
*.war
*.ear
target/*
.project
*/target/*
*/.settings/*
*/.classpath
*/bin/*
.settings/*
target
